@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Roboto", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #071e26;
}
.slider-container {
  width: 500px;
  height: 400px;
  overflow: hidden;
  border-radius: 20px;
}
.slider {
  width: 300%;
  display: flex;
  transition: transform 0.5s ease;
}

.slider .slider__slide {
  width: 500px;
  border-radius: 5px;
  height: 400px;
  transition: transform 0.5s ease-in-out;
}
.slider .slider__slide img {
  width: 500px;
  height: 400px;
  object-fit: cover;
}

.slider__slide.active {
  margin-left: 0;
}

.slider .slider__slide .slider__info {
  position: absolute;
  top: 0;
  padding: 15px 30px;
}

.slider .slider__slide .slider__info h2 {
  color: aliceblue;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 2px;
}

.slider .slider__slide .slider__info p {
  color: aqua;
  background-color: rgba(0, 0, 0.5, 0.5);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
}

.navigation {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.navigation .btn {
  background-color: bisque;
  width: 12px;
  height: 12px;

  border-radius: 50%;
  cursor: pointer;
}

.navigation .btn.btn--active {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  background: #2696e9;
}
